@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.Main {
	display: flex;
	height: 100%;
	background: #e7effa;
	flex-direction: column;
	align-items: center;
	font-family: "Do Hyeon", sans-serif;
	font-size: x-large;
}
