### AWS Variables
variable "main_suffix" {
  type = string
  default = "ddps-mhsong"
}

variable "region" {
  type = string
  default = "ap-northeast-2"
}

variable "awscli_profile" {
  type = string
  default = "ddpslab"
}

### VPC Variables
variable "vpc_cidr" {
  type = string
  default = "192.168.0.0/16"
}
variable "public_subnet_cidrs" {
  description = "cidr should be match with public_subnet_number"
  type = list(string)
  # default = ["192.168.10.0/24", "192.168.20.0/24"]
  default = ["192.168.10.0/24"]
}

variable "private_subnet_cidrs" {
  description = "cidr should be match with private_subnet_number"
  type = list(string)
  # default = ["192.168.11.0/24", "192.168.21.0/24"]
  default = ["192.168.11.0/24"]
}


### K8S Node Settings
variable "instance_type" {
  type = string
  default = "t4g.small"
}

variable "key_name" {
  type = string
  description = "EC2 Instance Key Name"
  default = "mhsong-seoul-key"
}

variable "master_node_number" {
  type = number
  default = 1
}

variable "worker_node_number" {
  type = number
  default = 1
}